<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/fragments.html :: headerfiles">
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r58/three.min.js"></script>
</head>
<body>

	<p class="mega">
		4<span class="boom">0</span>4
	<div class="bola"></div>
	</p>
	<p class="mini">That's an error.</p>
	
	<div th:insert="fragments/fragments.html :: footer"></div>
	
	<script type="text/javascript" th:src="@{/js/three.js}"></script>
	<script type="text/javascript" th:src="@{/js/404-renderer.js}"></script>
</body>
</html>